*{
    margin: 0px;
    padding: 0px;   
}

h1{
    text-align: center;
}

body{
    background-color: black;
    color: #356e6e;;
    
}

main{
     display: flex;
     flex-direction: column ;  
     align-items: center;
     justify-content: center;
     margin-top: 10vh;
}

button{
    margin: 1rem;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-width: 1.1px;
    width: 13rem;
}

button:hover{
    background-color: coral;

}

input{
     padding: 1rem;
     border-radius: 10em;
     border-width: 1.1px;
}

input:focus{
    background-color: #356e6e;
}

input:hover{
    cursor: pointer;
}

