*{
    margin:0px;
    padding: 0px;    
}

main{
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

section{
    
    padding: 2rem;
    margin: 10rem;
    display: grid;
    align-items: center;
    justify-content:center;
    grid-template-columns: repeat(3,1fr) ;
    
}

#gamer1,#gamer2{
    border-radius: 1rem;
    padding: .2rem;
    outline: none;
    border-width: .1rem;
    transition: 2.2s;

}

#gamer1:hover{
    background-color: rgba(161, 101, 79, 0.233);
}

#gamer2:hover{
    background-color: rgba(161, 101, 79, 0.233);

}

#updatedPlayer{
    display: block;
    padding: 3rem;
}



.tic{
    padding: 3rem;
   background-color: transparent;
   border-width: .1rem;
   
}

#btn1{
    border-top: none;
    border-left: none;
    border-color: lightslategray;
}
#btn2{
    border-top: none;
    border-color: lightslategray;
    
}
#btn3{
    border-top: none;
    border-right: none;
    border-color: lightslategray;
}
#btn4{
   
    border-left: none;
    border-color: lightslategray, .1rem;
}
#btn6{
    border-color: lightslategray;
    border-right: none;
}
#btn7{
    border-bottom: none;
    border-left: none;
    border-color: lightslategray;
}
#btn8{
    border-bottom: none;
    border-color: lightslategray;
   
}
#btn9{
    border-bottom: none;
    border-right: none;
    border-color: lightslategray;
}



div{
   text-align: center;
  
}

#reiniciar{
     padding:.1rem;
      width: 300px;
}

input,button{
    cursor: pointer;
}

#x,#o{
    color: transparent;
}

